In [11]:
import numpy as np
import pandas as pd

datos_sin_procesar = pd.read_csv("datos.CSV")

In [17]:
sueldos=datos_sin_procesar[datos_sin_procesar.concepto=="acreditacion de sueldos "]

In [36]:
sueldos.groupby(['ano','mes'])['val_abs'].count()

ano   mes
2019  4      2
      5      2
      6      1
      7      2
      8      1
      9      2
      10     3
      11     2
      12     2
2020  1      1
      2      2
      3      2
      4      2
      5      1
      6      1
      7      1
      8      1
      9      1
      10     1
      11     2
      12     3
2021  1      1
      2      2
      3      2
      4      2
      5      1
      6      1
      7      1
      8      1
      9      2
      10     2
      11     2
      12     3
2022  1      1
      2      1
      3      2
      4      1
      5      2
      6      1
      7      1
      8      1
      9      2
      10     2
      11     1
Name: val_abs, dtype: int64

In [21]:
listado=list(sueldos.val_abs)

In [33]:
import numpy as np
import pandas as pd
import jinja2

datos_sin_procesar = pd.read_csv("datos.CSV")
sueldos = datos_sin_procesar[datos_sin_procesar.concepto ==
                             "acreditacion de sueldos "]
listado = list(sueldos.val_abs)
jinja_env = jinja2.Environment(loader=jinja2.FileSystemLoader('templates'))
jinja_var = {'listado': listado}
template = jinja_env.get_template("content.html")
output_from_parsed_template = template.render(jinja_var)
with open("my_new_file.html", "w") as fh:
    fh.write(output_from_parsed_template)